# Environments
.env
.env.local
*.env

# Python & Java
__pycache__/
*.py[cod]
*.class
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# C# / .NET
bin/
obj/
*.user
*.suo

# Operating System
.DS_Store
Thumbs.db
